<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

    <div class="container">

    <h1>Все блоги сайта</h1>
    <hr>

    {% if blogs %}
        {% for blog in blogs %}
        <div class="blog__block">
            <h1>{{ blog.title }}</h1>
            <p style="color: red;">{{ blog.created }}</p>
        </div>
        {% endfor %}
    {% else %}
        <h2 style="color: red;">Блогов нет</h2>
    {% endif %}

    </div>


</body>
</html>